.todo-container {
    max-width: 500px;
    width: 100%;
    margin: 1rem auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.todo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.todo-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    margin: .8rem 0;
    border-radius: 5px;
}

.todo-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-item[data-completed="true"] {
    text-decoration: line-through;
    color: #999;
}

.todo-item-container:hover {
    background-color: #f5f5f5;
}


.todo-input {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-input:focus {
    outline: none;
    border-color: #333;
}

.todo-input::placeholder {
    color: #ccc;
}

.todo-input.search {
    margin-top: .5rem;
}


.delete-button {
    background: url("https://img.icons8.com/material-rounded/24/000000/delete-trash.png") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.categories-container .button {
    padding: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.categories-container .button.active {
    background-color: lightyellow
}

.categories-container .button.total {
    background-color: lightcyan;
}

.categories-container .button.completed {
    background-color: lightpink;
}


.categories-container .button:hover {
    background-color: #f5f5f5;
}

.todo-search {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
